.container-fluid {
  overflow: auto;
  height: 100%;
}

.search {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid darkmagenta;
  outline: none;
  color: white;
  font-size: 28px;
}

.imageText {
  position: relative;
  width: fit-content;
  height: fit-content;
}

.imageText:hover .filter {
  filter: opacity(60%);
  transition: all .3s ease-in-out;
}

.content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.imageText:hover .content {
  opacity: 1;
}

.text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: normal;
}


p a {
  color: white;
}

.filter {
  max-width: 320px;
  max-height: 320px;
}

button a {
  text-decoration: none;
  color: black;
}

.share {
  background-color: lime;
  color: black;
}

.play {
  transform: scale(1.6);
}