/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { 
  margin:       0; 
  font-family:  Roboto, "Helvetica Neue", sans-serif;
  background-color: black;
}

.modalBg {
  background-image: linear-gradient( 99deg,  rgba(115,18,81,1) 10.6%, rgba(28,28,28,1) 118% );
  mat-dialog-container {
    background: transparent;
  }
}